<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'login_registration/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
      <title>Login and Resttration</title>
    </head>
    <body>

          <h3>Register</h3>
          <hr>
          <span class="help-block">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </span>

      <article>

        <form class="form-horizontal" action='/check_register' method='POST'>
            {% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input class="form-control" name="first_name" placeholder="First Name" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input class="form-control" name="last_name" placeholder="Last Name" type="text" value="{{ last_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input class="form-control" name="email1" placeholder="Email" type="text" value="{{ email1 }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input class="form-control" name="email2" placeholder="Email confirmation" type="text" value="{{ email2 }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input class="form-control" name="passwd1" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input class="form-control" name="passwd2" placeholder="Password  confirmation" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
              </fieldset>
          </form>
          <a href="/">Go Back</a>

        </article>
    </body>
</html>
